<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="public/style.css">
    </head>
    <body>
      <h2>Title of the page</h2>
      <p>should be <a href="#">green</a></p>
      <div class="js-accordion"></div>

      <script type="text/javascript" src="public/bundle.js" charset="utf-8">
      </script>
    </body>
</html>
